body {
    height: 100%;
    background-color: rgb(46, 46, 46);
    color: white;
}

img {
    aspect-ratio: 1/1;
}


nav {
    height: 30px;
    margin: 20px 0;
}

.line {
    width: 20px;
    height: 2px;
    background-color: white;
    margin-left: 3%;
}

.content {
    height: 400px;
}

.img-banner {
    width: 80%;
    aspect-ratio: 1/1;
}

.person {
    margin-top: 50px;
}

.person-content {
    margin-top: 20px;
}

.btn-pink {
    margin: 0 auto;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #ea25c2;
    color: white;
    font-size: large;
}

.pink-text {
    color: #ea25c2;
}

.form-contact input {
    width: 65%;
    height: 50px;
    border-radius: 10px;
}

.form-contact button {
    width: 20%;
    height: 50px;
    background-color: blue;
    border-radius: 10px;
}

.footer div {
    background-color: grey;
    text-align: center;
    padding: 30px;
}